<!DOCTYPE html>
<html lang="en" ng-app='nameApp'>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <script src="angular/angular.js"></script>
        <script src="angular-route/angular-route.js"></script>
    </head>

    <body ng-controller='MainController'>
      <div>
        <a href="#!/">home</a>
        <ng-view></ng-view>
        <form ng-submit="addName()">
          <input type="text" ng-model="newName.name" placeholder="Name">
          <input type="text" ng-model="newName.age" placeholder="Age">
          <input class="hidden" type="submit" value="Add User">
        </form>
        <ul>
          <li ng-repeat="name in names track by $index">Name: <a href="#!/{{ $index }}">{{ name.name }}</a></li>
        </ul>
      </div>
    </body>
    <script>
        var nameApp = angular.module("nameApp", ["ngRoute"]);

        nameApp.config(["$routeProvider", function($routeProvider){
            $routeProvider.when("/main", {
                controller: "TestController",
                templateUrl: "partials/_main.html"
            })
            .when('/:index', {
              controller: "UserController",
              templateUrl: "partials/_user.html"
            });
        }]);
        // MainFactory
        nameApp.factory("MainFactory", function(){
          var names = [
            { name: "Richard", age: 23 },
            { name: "Kelda", age: 21 },
            { name: "Quinten", age: 22 },
          ];
          var factory = {};
          factory.getNames = function(callback){
            callback(names);
          };
          factory.getOneName = function(callback){
            callback(names);
          };
          return factory;
        });
        // MainController
        nameApp.controller('MainController', ['$scope', 'MainFactory', function($scope, MainFactory){
          $scope.names = [];
          MainFactory.getNames(function(data){
            $scope.names = data;
          });
          $scope.addName = function(){
            $scope.names.push($scope.newName);
            $scope.newName = {};
          };
        }]);
        // UserController
        nameApp.controller('UserController', ['$scope', 'MainFactory', '$routeParams', function($scope, MainFactory, $routeParams){
          $scope.name = {};
          MainFactory.getOneName(function(data){
            // To get a single user from the names array of objects in the 
            // MainFactory, I have to get the value of the index key...
            $scope.name = data[$routeParams.index];
          });
        }]);
    </script>
</html>
